:root {
  --color-primary-dark: #31261a;
  --color-primary-light: #faf4ea;
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
}

ul {
  list-style-type: none;
}

body {
  color: var(--color-primary-dark);
}

.button {
  background-color: var(--color-brand-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  color: var(--color-primary-light);
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
}

.Link {
  color: var(--color-primary-light);
}

.Link:hover {
  color: var(--color-brand-light);
}

.hero-title {
  color: var(--color-primary-light);
}

.hero-title .accent {
  color: var(--color-brand-primary-light);
}

.advantages-list {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}

.section-title .accent {
  color: var(--color-brand-dark);
}
